/* .App  */
:root{
  /* background-color: #F8F8FF; */
  background-image: url(https://t3.ftcdn.net/jpg/00/92/50/54/240_F_92505416_TdZkOAwOtCkTP99FHbvdpG86XLD1zyvJ.jpg) ;
  /* opacity: .75; */
}

body {
  text-align: center;

}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-logo img{
  width: 120px;
  /* height: 80px; */
}

.navigation{
  /* display: flex; */
  /* justify-content: space-between; */

}

.products{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.product{
  padding: 40px;
  background-color: gray;
  color: white;
  font-weight: 700;
  margin: 5px;
  border: solid black 5px;
}

.product img{
  width: 250px;
  height:250px;
  border: solid black 5px;
}

/* .product p{

  text-decoration: none;
} */

.product a{
  text-decoration: none;
  color: #0275d8;
}

.product a:hover{
  color: #F8F8FF;
}

.footer{
  margin-top: 20px;
  width: 100%;
  padding: 60px 0px;
  background-color: #333;
  color: #efefef;
  display: flex;
}

.footer div{
  text-align: center;
  padding: 50px;
}

.col-2{
  flex-grow: 2;
}

.footer div h3{
  font-weight: 600;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-1 a{
  display: block;
  text-decoration: none;
  color: #efefef;
  margin-bottom: 10px;
}

form input{
   width: 300px;
   height: 45px;
   border-radius: 4px;
   text-align: center;
   margin-top: 20px;
   margin-bottom: 40px;
   outline: none;
   border: none;
}

.form-button-footer{
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 30px;
  padding: 10px 30px;
  font-size: 15px;
  cursor: pointer;
}

.social-icons{
  margin-top: 30px;

}

.social-icons i {
  font-size: 22px;
  margin: 10px;
  cursor: pointer;
}
/* .nav-links{
  margin-right: 60px;
} */
.nav-links li{
  text-decoration: none;
  list-style: none;
}
.nav-links link:visited{
  color: #333;
}

.search-container{
  padding-top: 10px;
  background-color: gray;
  padding-bottom: 10px;

}

.detail-img{
  width: 500px;
  height: 500px;
  border: solid black 5px;
}

.cat-button{
  margin-left: 5px;
  padding-right: 5px;
}

.sign-up{
  border:solid #282c34 5px;
  width: fit-content;
  margin: auto;
  padding: 10px;
}

li{
  list-style: none;
}

signed-in-button a{
  text-decoration: none;
}

signed-in-button a:visited{
  color: #0275d8;
  text-decoration: none;
}

.category-bg{
  /* background-color: ; */
  background-image: linear-gradient(lightgray, gray);
}

.nav-ul-bg{
  background-color: lightgray;
}

/* .search-container{
  background-color: #333;
} */

.torch{
  height: 200px;
  width: 200px;
  position: absolute;
  right: 12%;
  top: 20%;
}

.torch-2{
  height: 200px;
  width: 200px;
  position: absolute;
  left: 12%;
  top: 20%;
}

@media screen and (max-width:800px) {
  .torch{
    display: none;
  }

  .torch-2{
    display: none;
  }
}


.products-title-bg{
  background-color: gray;
}

.oh-bg{
   background-color: darkgrey;
   color: white;
   font-weight: 700;
   width:fit-content ;
   margin: auto;
   border: solid black 5px;
   padding-bottom: 10px;
}

.oh-bg-bl{
  background-color: lightgrey;
   /* color: white; */
   font-weight: 700;
   width:fit-content ;
   margin: auto;
   
   padding-bottom: 10px;
}

.cart{
  background-color: gray;
}

.dp-bg{
  background-color: darkgrey;
   color: white;
   font-weight: 700;
   width:fit-content ;
   margin: auto;
   border: solid black 5px;
   padding-bottom: 10px;
   background-image: linear-gradient(lightgray, gray);
}